type=page
title=
description=Laurent Pireyn's website.
lang=en
~~~~~~
<main class="hero is-large" role="main">
    <div class="hero-body has-text-centered">
        <p class="title is-1">Laurent Pireyn</p>
        <p class="subtitle is-3">Freelancer Software Engineer. Java Expert.</p>
        <p>
            <a href="articles" class="button is-large">Articles</a>
            <a href="blog" class="button is-large">Blog</a>
            <a href="tags" class="button is-large">Tags</a>
            <a href="https://www.hackerrank.com/lpireyn" class="button is-large">HackerRank</a>
        </p>
    </div>
</main>
